#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.card {
  padding: 2em 0em;
}

.card svg {
  /* fill: red; */
  border: 1px solid red;
}

button {
  color: pink
}


svg.red {
  --color: pink;
}

#rect {
  --color: orange;
}

svg.blue {
  --color: green;
  /* border: 1px solid red; */
}

#btn {
  cursor: pointer;
}

#btn_handler{
  cursor: pointer;
  will-change: contents;
  transition:transform 200ms ease-out;
}