@import url("./styles/calendar.css");

.mainContainer {
  background-color: var(--pageBgColor);
}

main {
  padding: 2em;
  padding-top: 0em;
  /* overflow: hidden; */
  color: var(--textColor);
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  padding: 1em;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
}

.baseConfig {
  display: flex;
  gap: 10px
}


:root {
  user-select: none;
  --textColor: black;
  --pageBgColor: #f1f2f2;
  --stroke-width: 2px;

  --dayStroke: paleturquoise;
  --weekStroke: gray;
  --monthStroke: gray;

  --dayBg: paleturquoise;
  --weekBg: pink;
  --monthBg: paleturquoise;
  --dayOfWeek0: rosybrown;
  --dayOfWeek1: rosybrown;
  --dayOfWeek2: rosybrown;
  --dayOfWeek3: rosybrown;
  --dayOfWeek4: rosybrown;
  --dayOfWeek5: rosybrown;
  --dayOfWeek6: rosybrown;
}