:root {
  --inner-padding: 1.5em;
}

main {
  background-color: #777;
  height: 100vh;
  font-size: 1.3rem;
  display: grid;
  grid-template-rows: 5fr 1.5fr 0fr;
  transition: 750ms ease;
}

header {
  background-color: #FBE8D7;
  /* padding: 1em; */
}

.topName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  z-index: 1;
  width: 90%;
  top: var(--inner-padding);
  left: var(--inner-padding);
}

.goUp {
  grid-template-rows: 0fr 2fr 5fr;
}

nav {
  padding: var(--inner-padding);
  padding-top: 3.5em;
}

nav {
  position: relative;
  background-color: #E7C4BE;
  /* height: 10vh; */
}

/* 
https://www.joshwcomeau.com/css/interactive-guide-to-grid/
https://css-tricks.com/animating-css-grid-how-to-examples/ 

*/
article {
  display: grid;
  grid-template-columns: 100% 0%;
  transition: grid-template-columns 750ms ease;
  overflow-x: hidden;
  transition: grid-template-columns 3s ease;
}

.next {
  grid-template-columns: 0% 100%
}

section {
  background-color: #C8D6D4;
  /* height: 30vh; */
  height: 100%;
}

.content {
  width: 0%;
  opacity: 0;
  transition:
    opacity 450ms ease,
    padding 550ms ease 400ms,
    width 550ms ease 400ms;
}

.currentPage .content {
  padding: var(--inner-padding);
  width: 100%;
  opacity: 1;
  transition:
    padding 450ms ease,
    width 550ms ease,
    opacity 550ms ease 400ms;
}

article section:nth-child(1) {
  opacity: .4;
}

article section:nth-child(2) {
  opacity: .8;
}